# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Installer logs
pip-log.txt
